@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 221 39% 11%;

		--muted: 210 20% 98%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 221 39% 11%;

		--card: 0 0% 100%;
		--card-foreground: 221 39% 11%;

		--border: 220 13% 91%;
		--input: 220 13% 91%;

		--primary: 96 64% 46%;
		--primary-foreground: 0 0% 100%;

		--secondary: 210 20% 98%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 220 14.29% 95.88%;
		--accent-foreground: 216.92 19.12% 26.67%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 100%;

		--ring: 221 39% 11%;

		--radius: 0.375rem;
	}

	.dark {
		--background: 223 64% 2%;
		--foreground: 207 30% 93%;

		--muted: 221 39% 11%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 222 17% 11%;
		--popover-foreground: 0 0% 100%;

		--card: 222 17% 11%;
		--card-foreground: 0 0% 100%;

		--border: 216 13% 15%;
		--input: 217 19% 27%;

		--primary: 96 64% 46%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 225 21% 7%;
		--secondary-foreground: 0 0% 100%;

		--accent: 221 39% 11%;
		--accent-foreground: 0 0% 100%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 100%;

		--ring: 85 57% 41%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-secondary text-foreground;
	}
}
