<script lang="ts">
	import {
		ProblemDetails,
		globalFetchClient as api,
		globalLoading as loading
	} from '$api/FetchClient';
	import { goto } from '$app/navigation';
	import { isAuthenticated, logout } from '$api/auth';
	import Loading from '$comp/Loading.svelte';
	import ErrorMessage from '$comp/ErrorMessage.svelte';
	import { Button } from '$comp/ui/button';
	import H2 from '$comp/typography/H2.svelte';

	$: if (!$isAuthenticated) {
		goto('next/login', { replaceState: true });
	}

	let problem = new ProblemDetails();

	async function onLogout() {
		if ($loading) {
			return;
		}

		const response = await api.get('auth/logout');
		if (response.ok) {
			await logout();
			await goto('/next/login');
		} else {
			problem = problem.setErrorMessage(
				'An error occurred while logging out, please try again.'
			);
		}
	}
</script>

<svelte:head>
	<title>Log out</title>
</svelte:head>

<H2 class="mt-4 mb-2 leading-9 text-center">Log out?</H2>
<form on:submit|preventDefault={onLogout}>
	<ErrorMessage message={problem.errors.general}></ErrorMessage>
	<div class="my-4">
		<Button type="submit">
			{#if $loading}
				<Loading></Loading> Logging out...
			{:else}
				Logout
			{/if}
		</Button>
	</div>
</form>
